.add-set-form {
  width: 800px;
  box-sizing: border-box;
  margin: auto;
  padding: 5vh 5vw 5vh 5vw;
  font-family: roboto;
  display: grid;
  border-bottom: 1px solid grey;
}

.add-set-form-inner-container {
  padding: 0 100px 20px 100px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 63% 34%;
  grid-template-rows: 12% 12% 12% 12% 12%;
  gap: 3vh;
  height: 200px;
}

.select-option {
  margin: 8px;
}

.add-set-form-submit-button {
  height: 36px;
  width: 500px;
  margin: auto;
}

.add-set-form-checkbox {
  height: 100%
}

.browse-sets-outer-container {
  min-width: 980px;
  max-width: 980px;
  box-sizing: border-box;
  margin: auto;
  padding: 5vh 5vw 5vh 5vw;
  font-family: roboto;
  display: grid;
}

.browse-sets-inner-container {
    height: 100px;
    padding: 0 170px 0 190px;
    display: grid;
    grid-template-columns: 63% 34%;
    grid-template-rows: 30px 30px;
    gap: 2vh;
    border-bottom: 1px solid grey;
}

.list-of-sets-list {
  padding: 10px 0 10px 0;
}

.list-of-sets-list-item {
  display: flex;
  border-bottom: 1px solid grey;
}

.list-of-sets-section-first {
  width: 130px;
  padding-left: 70px;
}


.list-of-sets-section-large {
  width: 170px
}

.list-of-sets-section-small {
  width: 100px
}

.list-of-sets-button {
  height: 20px;
  width: 100px;
  margin-top: 12px;
}